<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/dist/css/index.css">
</head>
<body>
<div id="app"></div>
<div id="portal">
<!-- <div class="dialog">
	<div class="dialog-wrap">
		<div class="dialog-close">×</div>
		<div class="header">弹窗标题</div>
		<div class="content">
			<p>确定离开此页面吗？</p>
			<span>相关订阅号将一并删除</span>
		</div>
		<div class="footer">
			<button class="btn sure-btn" onClick={this.onConfirm}>删除</button>
			<button class="btn cancel-btn" onClick={this.onCancel}>取消</button>
		</div>
	</div>
</div> -->
	
</div>
<script type="text/javascript" src="/dist/js/index.js"></script>
</body>
</html>